
.vs/CreditCardHelper/v16/.suo
.vs/
CreditCardHelper.Tests/bin
CreditCardHelper/bin
CreditCardHelper.Tests/obj
CreditCardHelper/obj
CreditCardHelper.Demo/bin/*
CreditCardHelper.Demo/obj/
CreditCardHelper.Demo/bin/Release/net6.0/CreditCardHelper.Demo.deps.json
CreditCardHelper.Demo/bin/Release/net6.0/CreditCardHelper.Demo.dll
CreditCardHelper.Demo/bin/Release/net6.0/CreditCardHelper.Demo.pdb
CreditCardHelper.Demo/CreditCardHelper.Demo.csproj.user
CreditCardHelper.Demo/obj/Release/net6.0/CreditCardHelper.Demo.csproj.AssemblyReference.cache
CreditCardHelper.Demo/obj/Release/net6.0/CreditCardHelper.Demo.csproj.CoreCompileInputs.cache
CreditCardHelper.Demo/obj/Release/net6.0/CreditCardHelper.Demo.csproj.FileListAbsolute.txt
CreditCardHelper.Demo/obj/Release/net6.0/CreditCardHelper.Demo.dll
CreditCardHelper.Demo/obj/Release/net6.0/CreditCardHelper.Demo.pdb
CreditCardHelper.Demo/obj/Release/net6.0/ref/CreditCardHelper.Demo.dll
CreditCardHelper.Demo/obj/Release/net6.0/refint/CreditCardHelper.Demo.dll
CreditCardHelper.Demo/obj/staticwebassets.pack.sentinel
CreditCardHelper.Demo/Properties/PublishProfiles/FTPProfile.pubxml.user
CreditCardHelper.Demo/Properties/PublishProfiles/FTPProfile.pubxml
